/* import { BsSearch } from 'react-icons/bs' */

body{
    background-color: rgb(133, 255, 251);
    
}

.outie{
    opacity: 40%;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.outie:hover{
    opacity: 100%;
}

.store_regional_header{
    height: 50px;
    background-color: darkred;
    padding: 0 1rem;
}

.online_header{
    height: 80px;
    background-color: violet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-shadow: 0px 2px 5px rgb(151, 151, 151);
}


.store_online_logo_cont{
    width: 4rem;
   
}

.store_online_logo{
font-size: 3rem;

}




.store_desktop_link{
padding: 1rem 2rem;
border-radius: .5rem;

}
.store_desktop_link:hover{
    background-color: rgb(150, 150, 208);
}

#search_input{
    width: 30rem;
    height: 1.5rem;
}
#search_input::after{
    content:"XX";
}

.sign_in_div{
    display: flex;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.flyer{

    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flyer_specific{
    background-color: rgb(253, 230, 174);
    width: 60%;
    height: 60%;
    border: 4px solid black;
    border-radius: 1rem;

}
.close_flyer{
   
        opacity: 40%;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 50%;
        position: static;
        left: 5px;
        top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: azure;
}
.close_flyer:hover{
opacity: 100%;
}

.closed_flyer{
display: none;
}


.dimmer{
    position: absolute;
    z-index: 1;
    background-color: black;
    opacity: 0%;
    width: 100%;
    height: 100%;
}

.flex{
    display: flex;
    justify-content: center;
}


.merch-display-case{
    display: grid;
    padding: 0 10%;
    grid-template-columns:  1fr 1fr 1fr;
}


.merch-item-display{
    background-color: rgb(255, 255, 255);
    padding: .5rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: .5rem;
    width: 20rem;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15rem 10rem;
    grid-template-areas: 
    "tl  tr"
    "btt btt" ;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.merch-cont-left{
    grid-area: tl;
    width: 100%;    
}

.merch-cont-right{
    grid-area: tr;
    width: 100%;
}

.merch-item-image{
    width: 100%;
    max-height: 15rem;
}

.merch-cont-bottom{
    background-color: rgb(240, 240, 240);
    grid-area: btt;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-radius: .25rem;
    padding: .25rem;
    overflow: scroll;
}


.submit_btn{
    margin-left: -50px;
    height: 20px;
    width: 50px;
}