body{
    background-color: rgb(133, 255, 251);
}

.outie{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.store_regional_header{
    height: 50px;
    background-color: darkred;
}

.online_header{
    height: 125px;
    background-color: violet;
}






.merch-display-case{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.merch-item-display{
    background-color: rgb(255, 255, 255);
    padding: .5rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: .5rem;
    width: 30vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15rem 10rem;
    grid-template-areas: 
    "tl  tr"
    "btt btt" ;
}

.merch-cont-left{
    grid-area: tl;
    width: 100%;    
}

.merch-cont-right{
    grid-area: tr;
    width: 100%;
}

.merch-item-image{
    width: 100%;
    max-height: 15rem;
}

.merch-cont-bottom{
    background-color: rgb(240, 240, 240);
    grid-area: btt;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-radius: .25rem;
    padding: .25rem;
    overflow: scroll;
}